.contenedorTarjeta {
  width: 100%;
  margin: 10px;
  max-width: 350px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  border: 1px solid rgb(233, 233, 233);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
  min-height: 300px;
}
.contenedorTarjeta:hover {
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 1px -1px,
    rgb(0 0 0 / 14%) 0px 2px 1px 0px, rgb(0 0 0 / 12%) 0px 4px 3px 0px;
}

.contenedorImagen {
  width: 150px;
  height: 100%;
  min-height: 300px;
}
.imagen {
  width: 150px;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 15px 15px;
  display: flex;
}
.contenedorInfo {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 7px 0px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.subtitle {
  margin: 7px 0px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  text-align: center;
}
.montoMax {
  font-size: 12px;
  margin: 3px 0px;
  text-align: center;
  color: gray;
}
.Button {
  width: 100%;
  margin: 7px 0px;
  padding: 5px;
  border-radius: 25px;
  border: 3px solid lightskyblue;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  cursor: pointer;
}
.Button:hover {
  background-color: lightskyblue;
  color: white;
}
.Button:active {
  background-color: lightskyblue;
  color: white;
  -webkit-box-shadow: inset 10px 10px 5px -8px rgba(128, 128, 128, 1);
  -moz-box-shadow: inset 10px 10px 5px -8px rgba(128, 128, 128, 1);
  box-shadow: inset 10px 10px 5px -8px rgba(128, 128, 128, 1);
}
.inputText {
  width: 90%;
  margin: 7px 0px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
}
.contenedorVentana {
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
}
.imagenVentana {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0px 0px 15px 15px;
  display: flex;
}
.contenedorImagenVentana {
  width: 100%;
  height: 100%;
}
.contenedorInfoVentana {
  margin: 10px 25px;
}
.ItemTitle {
  font-size: 15px;
  margin: 0px;
}
.item {
  background-color: rgb(230, 230, 230);
  margin: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.contenedorItems {
  display: flex;
  align-items: center;
}
.divider {
  border: none;
  height: 2px;
  background-color: rgb(185, 228, 255);
}
